h1{

	border: 3px solid red;
}

.head1{
	color:blue;
}

#title1{
	color:green;
}

#title1{
	font-size:50px;
}

div{
	width: 100px;
	min-height: 50px;
	background-color: #000000;
}